{
  "presets": [
     "@babel/preset-env"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-methods", {"loose": true}],
    ["@babel/plugin-transform-arrow-functions", { "spec": true }],
    ["@babel/plugin-transform-runtime"]
],
"env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
